.form-header h2 {
	font-weight: 700;
	font-size: 1.2rem;
	margin: 0.75rem 0;
}

.label-register-type {
	font-size: 0.9rem;
	margin: 0 0 0.5rem;
	font-weight: 500;
}

.btn-register-type-container {
	flex-direction: column;
	/* background: chartreuse; */
}

.btn-register-type-container .btn-reg-type {
	background: var(--grey50);
	min-width: 16rem;
	margin: 0.3rem 0;
	padding: 0.5rem 0.75rem;
	justify-content: space-between;
	border-radius: 0.25rem;
}

.btn-register-type-container .btn-reg-type.selected {
	background: var(--red);
	color: white;
}

.btn-register-type-container .btn-reg-type.selected svg path {
	stroke: white;
}
